.facilities {
    background-color: rgb(61, 57, 57, 0.2);
    box-shadow: 0px 0px 10px 0px black;
    /* border: dotted whitesmoke; */
    padding: 1em;
    margin: 12pt;
    /* width: 100pt; */
}
.facilityName {
    font-weight: bold;
    padding: 1em 0;
}
.facilityCriminals {
    font-weight: bold;
    padding: 1em;
}
.text {
    padding: .5em 0;
}