.bodySection {
    display:flex
}
h3 {
    margin: 2em;
}

.filters {
    display: flex;
}
.filter {
    margin: 0 .5em 0 ;
}
.criminalsList {
    display: grid;
    grid-template-columns: auto auto auto;
    /* display: flex;
    flex-wrap: wrap;*/
}

.Criminal {
    border: dotted grey;
    padding: 6pt 100pt 6pt 20pt;
    margin: 12pt;
    width: 100pt;
}

.name {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;
}

p {
    margin: 0;
}

.criminalsContainer {
flex-basis: 75%;
border: solid black;
}

.aside {
    flex-basis: 25%;
}

.noteList {
    
    border: solid;
}

.note {
    margin: 1em;
}
.noteButtons {
    margin: 0 1em 0 .0;
}