@import "AssociModal.css";
@import "facilities.css";

.headerImg {
    height: 8.5em;
    width: 100%;
    object-fit: cover;
    filter: brightness(90%);
}
.bodyImg {
    /* width: 100%;
    object-fit: cover; */
}
.title {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    color: black;
    
}
body {
    background: linear-gradient(0.25turn, #860d29, #083147);
}
.bodySection {
    display:flex;
    /* background-color: black; */
    color: whitesmoke;
}
h3 {
    margin: 2em;
}

.filters {
    display: flex;
}
.filter {
    margin: 0 .5em 0 ;
}
.criminalsList {
    display: grid;
    grid-template-columns: auto auto auto;
    /* display: flex;
    flex-wrap: wrap;*/
}

.Criminal {
    /* border: dotted whitesmoke; */
    padding: 6pt 100pt 6pt 20pt;
    margin: 12pt;
    width: 100pt;
    background-color: rgb(61, 57, 57, 0.2);
    box-shadow: 0px 0px 10px 0px black;
    /* background-color: black; */
}

.name {
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 5px;
}

p {
    margin: 0;
}

.criminalsContainer {
display: grid;
grid-template-columns: auto auto auto;
flex-basis: 75%;
border: thin solid black;
margin-top: 1em;
}

.aside {
    margin-top: 1em;
    flex-basis: 25%;
}
.noteFormContainer {
    background-color: rgb(61, 57, 57, 0.2);
    /* background: black; */
}
.noteList {
    background-color: rgb(61, 57, 57, 0.2);
    box-shadow: 0px 0px 10px 0px black;
    border: thin solid black;
}

.note {
    margin: 1em;
}
.noteButtons {
    margin: 0 1em 0 .0;
}
.dNoteButton {
    margin: 0 1em;
}